.form__labelText {
    width: 100%;
    max-width: 100px;
    display: inline-block;
    margin-right: 5px;
}

.form__fieldset {
    border: 5px solid #e2daf6;
    background-color: #eee;
    border-radius: 5px;
}

.form__field {
    border: 1px solid rgb(196, 191, 191);
    padding: 10px;
    max-width: 100%;
    width: 500px;
    border-radius: 5px;
}

.form__legend {
    background-color: #e2daf6;
    padding: 10px;
    border-radius: 5px;
}

.button {
    background-color: #e2daf6;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #bfabf0;
}

.header {
    color: white;
}

.result {
    color:  white;
    text-decoration:underline;
    font-size: 25px;
}

@media (max-width:767px) {
}