html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Oswald', sans-serif;
}
