html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.container {
    max-width: 700px;
    margin: 200px auto;
    padding: 20px 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(73 60 51);
    border-radius: 20px;
    display: grid;
}

.body {
    background-image: url('/images/background2.jpg');
    background-repeat: repeat;
    background-position: top;
    background-size:cover;
}

@media (max-width:767px) {
    .container {
        margin: 200px 20px;
    }
    .body {
        background-size: auto;
    }
    }
